{% extends "Base.twig" %}

{% import "Macros.twig" as macros %}

{% block content %}
    <div class="row">
        {% for article in articles %}
            <div class="col-md-6 col-12">
                <h2>{{ article.display_name | e }}</h2>
                <div>{{ article.abstract | e | nl2br }}</div>
                <a target="_blank" href="./{{ article.pdf_file }}">
                    pdf dokument
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
