{% extends "Base.twig" %}

{% import "Macros.twig" as macros %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Nový příspěvěk</h1>
            <form id="articleForm" action="{{ macros.link("Article", "createArticle") }}"
                  method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="nameField">Název:</label>
                    <input type="text" class="form-control" value="{{ article.display_name | e }}"
                           id="nameField" placeholder="Název" name="display_name"/>
                </div>
                <div class="form-group">

                    <label for="abstractField">Abstrakt:</label>
                    <textarea class="form-control" style="height: 300px"
                              id="abstractField" placeholder="Abstrakt"
                              name="abstract">{{ article.abstract | e }}</textarea>
                </div>
                <div class="form-group">
                    <label for="pdfField">Pdf:</label>
                    <input type="file" class="form-control-file" id="pdfField" name="pdf"/>
                </div>


                <input type="submit" class="btn btn-primary" value="Vytvořit">
            </form>
        </div>
    </div>
{% endblock %}
